
/*general-content*/
html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

.site-container {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
}

.logo, .new-arrival, .img-txt, .info-title, .footer, .nav li {
  color: white;
}

.logo, .new-arrival, .img-txt, .info-title, .footer {
  background-color: black;
}

/*logo*/
.logo {
  width: auto;
  padding: 0.66rem 0.5rem;
}

#logo-img {
  height: 1.5rem;
  margin-right: 1rem;
}

.logo h2 {
  display: inline;
}

/*main-banner*/
.main-banner {
  background-image: url("../images/bike.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.new-arrival {
  width: 20rem;
  padding: 2rem 3rem;
  font-weight: bold;
  position: relative;
  top: 9em;
}

h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

/*navigation*/
.nav {
  width: 100%;
  background-color: firebrick;
  padding: 0.75rem 0rem;
}

.site-container .nav {
  display: flex;
  justify-content: space-between;
}

.not-desktop {
  display: none;
}

/*product-grid*/
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

/*.product {
  text-align: center;
  position: relative;
}*/

.product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  border: 4px solid black;
  height: 9rem;
  padding: 2rem 0;
  overflow: hidden;
}

.product img {
  max-width: 8rem;
	margin: 0 auto;
  display: block;
}

.img-txt {
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
}

/*.img-txt {
  position: absolute;
  bottom: 0;
}

/*location and hours*/
.info {
  width: 35%;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.info-title {
  padding: 2rem 1rem;
  width: 89%;
}

/*footer*/
.footer {
  text-align: left;
  padding: 5rem 0rem;
  display: flex;
  align-items: center;
}

/*media-queries*/

@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }

  #glasses {
    display: none;
  }

  .desktop {
    display: none;
  }

  .not-desktop {
    display: flex;
    justify-content: center;
  }

  .info {
    width: 35%;
  }
}

@media only screen and (max-width: 470px) {
  .new-arrival h2 {
    font-size: 0.77rem;
  }

  .new-arrival h1 {
    font-size: 1rem;
  }

  .logo h2 {
    display: none;
  }

  #watch {
    display: none;
  }

  .product-grid {
    flex-direction: column;
    align-items: center;
  }

  .main-banner {
    height: 15rem;
  }

  .info {
    width: 90%;
  }

  .footer {
    text-align: center;
  }
}
